<div class="panel panel-default">
  <div class="panel-heading">
    <% if panel_title %>
      <h4 class="panel-title"><%= panel_title %></h4>
    <% end %>
  </div>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>
