<% content_for(:title) do%>トップページ<% end %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag 'cart.png', size: '150x150' %>
      </div>
      <div class="col-sm-8">
        <h1>Shop Gokko(お店もどき)</h1>
        <p class="lead">お金を使わない簡単なECサイト</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>使いかた</h2>
</div>
